.SessionDuration {
  background-color: red;
  border-radius: 5px;
  min-width: 200px;
  max-width: 260px;
  width: 19vw;
  min-height: 200px;
  max-height: 260px;
  height: 19vw;

  .sessionDuration-tooltip {
    background-color: #ffffff;
    color: black;
    width: 39px;
    height: 25px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
